#=================
eclipse-workspace
#=================
.metadata

#=================
#eclipse-project
#=================
*.project
*.classpath
*.settings

#=================
#maven-files
#=================
*target
*bin
*appdata

#================
#Mac OS X hidden files/folders
#================
.DS_Store


#===============
#neo4j database server
#===============
neo4j-1.2

#===============
#logfiles
#===============
*.log
